---
layout: default
social: true
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%B %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  
  {% include image.html path='thumb.png' %}
  {% if content.size < 100 %}
    <article class="post-content">
      <p>
        The content for this post is currently under development with the aim of being fully released at the end of the month.
      </p>
      
      {% if page.bibtex %}
        <p>
          In the meantime, you may be interested in reading the full paper {% cite page.bibtex %} and a link to download and read this is given below.  
        </p>
        
        {% bibliography --cited %}
      {% endif %} 
    </article>
  {% else %}
    <article class="post-content">
      {{ content }}
    </article>

    {% if site.disqus_shortname and page.comments and content.size > 100 %}
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname  = '{{ site.disqus_shortname }}';
        var disqus_identifier = '{{ page.id }}';
        var disqus_title      = {{ page.title | jsonify }};
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
  {% endif %}

</div>

{% include social.html %}

